*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial;
    background: -webkit-radial-gradient(top, #ccedc0 , #b65d69);
                                            /*  /*black , white*/
}
.centrado{
    margin: 0 auto;
    padding: 0 1em;   
}

@media screen and (min-width: 52em){
    .centrado{
        max-width: 52em;
    }
}

header{
    height: 5em;
    margin-bottom: 1em; /* espacio entre el header y el body*/

}

.menu-section{
    padding-top: 1em;
    padding-bottom: 1em;
}

.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li a{
    font-family: Verdana, Tahoma, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: .6em 1em;
    font-size: 1.3em;
}

.menu-simple ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-simple li{
    flex: 1 0 auto;
    text-align: center;
}
footer{
    width: 52em;
    height: 5rem;
    margin-top: 1rem;
    background-color: #000000;
    position: relative;
    color: white;
    text-align: center;
}

#texto_footer{
    padding-top: 2em;
}

#contenidoPrincipal{
    width: 52em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
}

/*--------------------- Fin de header y footer ----------------*/
.container {
    box-sizing: border-box;

    height: 36rem;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "t f" 
                        "t  f" 
                        "t  s";
    grid-gap: 0.5rem;
}

.s1 {
    grid-area: f;
}

.s2 {
    display:grid;
    grid-area: s;
    align-content: center;
    margin-bottom: 1rem;
}

.s3 {
    grid-area: t;
    max-width: 26rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 52rem) {
    .container {
        grid-template-areas: "t t t " " s s s" " f f f";
    }
}

/* ------------- seccion contacto ---------------*/
.contenedor_contacto{
    background: rgb(179, 172, 172);
    border-radius: 1em;
}
.formulario{
    font-family: Verdana, Tahoma, sans-serif;
}
.caja-1{
    width: 23.5rem;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem 0 1rem 1rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    border-style: none;
    background: rgb(179, 172, 172);
    color: black;
}
.caja-2{
    width: 23.5rem;
    max-width: 23.5rem;
    color: black;
    display: block;
    border-style: none;
    height: 4rem;
    max-height: 6rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem 0 1rem 1rem;
    background: rgb(179, 172, 172);
}
.correr{
	margin: 0.8rem 1rem 1rem 1rem;
    padding: 0.8em;
    border-radius: 1em;
}

.correr:hover{
    opacity: 0.7;
}

.formu-titulo{
	margin: 1rem;
    color: black;
    text-align: center;
}
/* ---------------- ANIMACION ------------------ */


@keyframes cambiarcolores{
    0%{
        background-color: white;
    }
    50%{
        background-color: red;
        width: 400px;
    }
    100%{
        background-color: white;
    }
}

.anim{
    background: grey;
    color:white;
    width: 150px;
    height: 150px;
    animation: cambiarcolores 5s linear 1 normal forwards;
}
/* .contenedor_contacto{
    background: rgb(179, 172, 172);
    width: 38em;
    margin-left: 7.5em; 
    margin-bottom: 2.5em;
    padding: 0%;
    border-radius: 1em;
}
.formulario{
    width: 36em;
    padding: 1em;
    font-family: Verdana, Tahoma, sans-serif;
}
.caja-1{
	width: 34em;
    height: 2em;
    margin: 1em 1em;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    background: rgb(179, 172, 172);
    color: black;
}
.caja-2{
	width: 34em;
    height: 6em;
	margin: 1em 1em;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border-style: none;
    background: rgb(179, 172, 172);
}
.correr{
	margin: 0em 1em;
    padding: 0.8em;
    border-radius: 1em;
}

.correr:hover{
    opacity: 0.7;
}

.formu-titulo{
	margin: 0em 8em 1em;
    color: black;
}*/