* {
    box-sizing: border-box;
}

body {
    background: #181818;
    color: whitesmoke;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

hr {
    border: 1px solid white;
}   

/*-------------- FOOTER Y HEADER ---------*/

header ul li a:hover,
header ul li a:focus {
    background: rgba(214, 48, 49, 0.2);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

header{
    height: 5em;
    margin-bottom: 1em; /* espacio entre el header y el body*/
}

.menu-section{
    padding-top: 1em;
    padding-bottom: 1em;
}

.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li a{
    font-family: Verdana, Tahoma, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: .6em 1em;
    font-size: 1.3em;
}

.menu-simple ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-simple li{
    flex: 1 0 auto;
    text-align: center;
}

footer{
    height: 5rem;
    margin-top: 1rem;
    background-color: #000000;
    position: relative;
    color: white;
    text-align: center;
}

#texto_footer{
    padding-top: 2em;
}

/* ------------- FIN DE HEADER Y FOOTER -------------- */

/* --------------- BODY -------------------*/

.grupo2{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.card{
    margin: 1rem 1.5rem ;
    color: black;
}

.card-img-top{
    height: 15rem;
}

img:hover{
    opacity: 0.8;
}

.carta {
    width: 20rem;
}

.carta2{
    width: 18.54rem;
}

/* -------------- FIN BODY -------------------*/

/* --------------- SIZE MEDIUM ------------- */

@media(max-width: 1024px) { 
    .grupo2{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card{
        margin: 1rem 1rem ;
        color: black;
    }

    .carta {
        width: 17rem;
    }

    .carta2{
        width: 17rem;
    }
}

/* --------------- SIZE SMALL ------------- */
@media(max-width: 750px) { 
    body {
        line-height: 1;
        padding: 0 1em;
    }
    
    /*-------------- FOOTER Y HEADER ---------*/
    
    header{
        height: 4rem;
    }
    
    .menu li a{
        padding: .2rem .6rem;
        font-size: 1rem;
    }
    
    footer{
        height: 3rem;
        margin-top: .5rem;
    }
    
    #texto_footer{
        padding-top: 1rem;
    }
    
    /* ------------- FIN DE HEADER Y FOOTER -------------- */
}