
body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    background: -webkit-radial-gradient(top, #ccedc0 , #b65d69);
                                            /*  /*black , white*/
}
.centrado{
    margin: 0 auto;
    padding: 0 1em;   
}

@media screen and (min-width: 52em){
    .centrado{
        max-width: 55em;
    }
}

header{
    height: 5em;
    margin-bottom: 1em; /* espacio entre el header y el body*/
}

.menu-section{
    padding-top: 1em;
    padding-bottom: 1em;
}

.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li a{
    font-family: Verdana, Tahoma, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: .6em 1em;
    font-size: 1.3em;
}

.menu-simple ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-simple li{
    flex: 1 0 auto;
    text-align: center;
}

.menu-simple li a:hover{
    text-decoration-line: underline;
}

/*
footer{
    width: 52em;
    height: 5em;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: white;
    text-align: center;
}

#texto_footer{
    padding-top: 2em;
}*/


/*--------------------- Fin de header y footer ----------------*/   
.btn-matchs{
    width: 100%;
    background-color: #fa8072;
    border-style: none;
    font-size: 1.5rem;
}


.matchs{
    height: 2rem;
    padding: 0;
    margin-bottom: 0.5rem;
}

.list-matchs{
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.list-matchs li {
    font-size: 1rem;
}


.container div{   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    width: 55rem;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.container h3{
    padding: 0;
    margin: 0;
    text-align: center;
}

.text{
    background: #a12525;
    color: #fff;
    max-width: 26rem;
    height: 18rem;
    margin: 0;
    padding: 0.3em;
    border-radius: 0.5rem;
}

.text h3{
    color: #ffffff;
    font-family: serif;
    margin-bottom: 0;
}

.text p{
    line-height: 100%;
    padding: 0;
}

.formaciones {
    font-size: 12px;
} 

.text a {
    color: white;
    font-size: 12px;
}

.text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* -------------------------------------------------------*/


.nav-area {
    margin-bottom: 1rem;
}

.nav-area ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-area ul li{
    width: 100%;
}

.nav-area ul li > ul {
    display: none;
    flex-direction: column;
}

.nav-area ul li > ul li{
   width: 100%;
}

.nav-area ul li:hover > ul{
    display: flex;
}

.nav-area a{
    text-transform: uppercase;
    display: block;
    background: #262626;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.nav-area a:hover{
    background: salmon;
    color: #fff;
}

.nav-area .dropdown li > a{
    background-color: #262626   ;
    color: #fff;
}

.nav-area .dropdown li > a:hover {
    background: salmon;

}

.nav-area .dropdown > a:after{
    content: '+';
    padding-left: 15px;
}